<h1>Task Tracker</h1>
<p>This is an application for creating and managing tasks</p>

<%= link_to('Tasks', {controller: 'tasks', action: 'index', page: 1}) %><br />

<%= link_to('About', {action: 'about', page: 6, id: 15 }) %><br />


